*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: orange;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.text{
    color: orange;
    height: 30px;
}

.typed-cursor{
    display: none;
}

.phone{
    min-height: 95vh;
    width: 60vmin;
    border-radius: 20px;
    background-color: #ffffff;
    display: grid;
    place-items: center;
    overflow: hidden;
    position: relative;
}


.text{
    width: 100%;
    text-align: center;
}


.box-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: auto;
    background-color: lightgrey;
    padding: 20px;
    grid-gap: 10px;
}

.box{
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 150px;
    transition-property: background-color, color;
    transition-duration: .7s;
    transition-timing-function: ease;
    position: relative;
}


.box .box-shape{
    background-color: transparent;
    color: #000;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .4s ease-in-out;
}

.box .box-shape.active{
    box-shadow: 0 10px 30px 0px grey;
    color: #fff;
    background-color: orange;
}

.box-shape i{
    font-size: 40px;
}

.box-shape p{
    font-weight: 600;
    font-family: italic;
}



.modal{
    position: fixed;
    height: 100%;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    display: none;
}

.modal-content{
    background-color: #fff;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    line-height: 50px;
}


input{
    padding: 7px;
    width: 100%;
}

button{
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}


button#CancelModal{
    background-color: grey;
}